<html>
<head>
<title>Bob</title>
<style type="text/css">
  canvas { 
    border: solid 2px black; 
  }
</style>
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/board.js?<%= rand(100000) %>"></script>
<script type="text/javascript">
  $(document).ready(function() {
    Catan.Draw.loop = function() {
    <% 
      vertical_padding = 50 
      hex_size = 40
      canvas_width = hex_size*4*(@board.hex_store.rows.max { |a,b| a.length <=> b.length }.length) - hex_size
      x_offset = hex_size * 3 / 2
      canvas_height = (vertical_padding * 2) + (hex_size * 1.732).floor*((@board.hex_store.rows.length + 1) / 2)
    -%>
    <% @board.hex_store.rows.each_with_index do |row, row_index| 
         row.each_with_index do |hex, offset| 
          x = (canvas_width / 2) - (x_offset * row.length) + (x_offset * offset * 2) + hex_size / 2
          y = vertical_padding + (hex_size * 0.866).floor * row_index
    -%>
      Catan.Draw.draw_hex(<%= x %>, <%= y %>, <%= hex_size %>, 
                          "rgb(<%= Catan::HEX_TYPES[hex.type][:color].join(',') %>)",
                          <%= hex.number %>, "<%= hex.type %>");
    <%   end
       end 
    -%>
    };
    Catan.Draw.init();
  });
</script>
</head>
<body>
<canvas id="board" width="<%= canvas_width %>" height="<%= canvas_height %>"></canvas>
</body>
</html>
